<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="venda">
            <h2><span jhiTranslate="jhipsterCrudTestApplicationApp.venda.detail.title">Venda</span> {{ venda.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterCrudTestApplicationApp.venda.livro">Livro</span></dt>
                <dd>
                    <span>{{ venda.livro }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterCrudTestApplicationApp.venda.data">Data</span></dt>
                <dd>
                    <span>{{ venda.data }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterCrudTestApplicationApp.venda.total">Total</span></dt>
                <dd>
                    <span>{{ venda.total }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterCrudTestApplicationApp.venda.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="venda.clienteId">
                        <a [routerLink]="['/cliente', venda.clienteId, 'view']">{{ venda.clienteId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/venda', venda.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
