<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-venda-heading" jhiTranslate="jhipsterCrudTestApplicationApp.venda.home.createOrEditLabel">Create or edit a Venda</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterCrudTestApplicationApp.venda.livro" for="field_livro">Livro</label>
                    <input type="text" class="form-control" name="livro" id="field_livro"
                           formControlName="livro"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterCrudTestApplicationApp.venda.data" for="field_data">Data</label>
                    <div class="input-group">
                        <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker #dataDp="ngbDatepicker" formControlName="data"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterCrudTestApplicationApp.venda.total" for="field_total">Total</label>
                    <input type="text" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterCrudTestApplicationApp.venda.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackById">{{ clienteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
